.App-Header {
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-ser;
  font-style: italic;
  font-size: 15vh;
}

.App {
  text-align: center;
}

.LineBreak {
  opacity: 0.3;
}

#CopyRight {
  font-size: 70%;
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
}
